[
	{
		fieldLabel:'快速回复',
		xtype:'combo',
		mode : 'local',
		editable : false,
		anchor:'90%,90%',
		triggerAction : 'all',
		store :['同意','不同意'],
		listeners:
			{
				select:{
					fn:function(field,record,index){//select : ( Ext.form.ComboBox combo, Ext.data.Record record, Number index ) 
						var options=Ext.getCmp('superOption');
						if(options!=null){
							options.setValue(field.getValue());
							if(field.getValue()=='不同意'){
								Ext.getCmp('pass').setDisabled(true);
    							Ext.getCmp('unPass').setDisabled(false);
							Ext.getCmp('backReturnBtn').setDisabled(false);
								Ext.getCmp('freeTransCombo').setDisabled(false);
							}else{
								Ext.getCmp('pass').setDisabled(false);
    							Ext.getCmp('unPass').setDisabled(true);
							Ext.getCmp('backReturnBtn').setDisabled(true);
								Ext.getCmp('freeTransCombo').setDisabled(true);
							}
						}
					}
				}
			}
	},
	{
					xtype : "panel",
					layout : "column",
					border : false,
					unstyled : false,
					style:'margin-top:5px;margin-bottom:5px;',
					items : [{
								xtype : "label",
								text : "本次申请用款:",
								width : 90,
								style : "margin-top:15px;"
							}, {
								xtype : 'container',
								id : 'thisApplyContainer',
								style : 'padding-left:0px;padding-bottom:5px;',
								items : [{
									xtype : 'container',
									layout : 'column',
									style : 'padding-left:15px;padding-bottom:5px;',
									items : [{
										xtype : "label",
										text : "小写:",
										width : 40
									}, {
										xtype : "numberfield",
										cls:'textfieldBG',
										id:'flow_bpaApplyMoneyXX',
										name : "bpaApplyMoneyXX",
										allowBlank:false,
										value:'${bpaApplyMoneyXX}',
										width:520,
										enableKeyEvents:true,
										regex:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/,
										regexText:'请输入正确格式的金额',
										listeners : { 
											keyup: function(field) { 	
												var paymentSumBig = AmountInWords(field.getValue());
												Ext.getCmp('flow_bpaApplyMoneyDX').setValue(paymentSumBig); 
											} 
										} 
									}]
								},{
									xtype : 'container',
									layout : 'column',
									style : 'padding-left:15px;padding-bottom:5px;',
									items : [{
										xtype : "label",
										text : "大写:",
										width : 40
									}, {
										xtype : "textfield",
										id:'flow_bpaApplyMoneyDX',
										name : "bpaApplyMoneyDX",
										value:'${bpaApplyMoneyDX}',
										width: 520,
										allowBlank:false,
										readOnly:true,
										editable:false,
										style:"background:#F0F0F0;"
									}]
								}]
							}]
	},
	{
		fieldLabel:'审批意见',
		xtype:'textarea',
		id:'superOption',
		name:'superOption',
		allowBlank:false,
		anchor:'90%'
	}
]