Ext.MyForm = Ext.extend(Ext.form.FormPanel, {
	xtype : "formpanel",
	title : "完工内检评审表",
	labelWidth : 30,
	labelAlign : "left",
	layout : "form",
	width : 670,
	height : 400,
	padding : "10px",
	initComponent : function() {
		var _url = __ctxPath + '/system/listWorkDepartment.do?opt=appUser';
		var depSelector = new TreeSelector('flow_endInnerCheck.project.area', _url, '',
				'endInnerCheck.project.area', false, 222,'endInnerCheck.project.area');
		Ext.getCmp("flow_endInnerCheck.project.areaTree").on("click", function(g) {
			//Ext.getCmp("projectRegional").setValue(Ext.getCmp("flow_projectRegional").getValue());
			Ext.getCmp("flow_endInnerCheck.project.areaId").setValue(Ext.getCmp("flow_endInnerCheck.project.area").id);
		});
		this.items = [{
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								xtype:'label',
								text:'项目名称：',
								width : 97
							},{
								name:'endInnerCheck.project.proName',
								id:'flow_endInnerCheck.project.proName',
								xtype:'textfield',
								emptyText:'请选择项目',
								editable:true,
								readOnly:false,
								allowBlank:false,
								columnWidth : 1,
								listeners:{
									'focus':function(){
										ProjectNewSelector.getView(function(proId,proName,proNo,contractId,contractNo,contractAmount,proAreaId,proArea,proChargerUserId,proChargerUserName){
											Ext.getCmp("flow_endInnerCheck.project.proName").setValue(proName);
											Ext.getCmp("flow_endInnerCheck.project.id").setValue(proId);
											Ext.getCmp("flow_endInnerCheck.contract.contractAmount").setValue(contractAmount);
											Ext.getCmp('flow_endInnerCheck.project.proChargerUserName').setValue(proChargerUserName);
											if(!Ext.isEmpty(proArea)&&Ext.isEmpty(proAreaId)){
												var url = __ctxPath + '/system/getDeptByNameDepartment.do'
												var params = "depName="+proArea;
												var data = ajaxSyncCall(url,params).data;
												if(!Ext.isEmpty(data)){
													Ext.getCmp("flow_endInnerCheck.project.areaId").setValue(data.depId);
													Ext.getCmp("flow_endInnerCheck.project.area").setValue(data.depName);
												}
											}else{
												Ext.getCmp("flow_endInnerCheck.project.areaId").setValue(proAreaId);
												Ext.getCmp("flow_endInnerCheck.project.area").setValue(proArea);
											}
											if(!Ext.isEmpty(proId)){
												var url = __ctxPath + '/statistics/getProjectNew.do';
												var params = "id="+proId;
												var data = ajaxSyncCall(url,params).data;
												Ext.getCmp('flow_endInnerCheck.project.buildUnit').setValue(data.buildUnit);
												Ext.getCmp('flow_endInnerCheck.project.proAddr').setValue(data.proAddr);
											}
										},true,true).show();
									}
								}
							},{
								xtype:'hidden',
								name:'endInnerCheck.project.id',
								id:'flow_endInnerCheck.project.id'
							}
							]
				},{
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								xtype:'label',
								text:'建设单位：',
								width : 97
							},{
								name:'endInnerCheck.project.buildUnit',
								id:'flow_endInnerCheck.project.buildUnit',
								xtype:'textfield',
//								readOnly:true,
//								style : "background:#F0F0F0;",
								allowBlank:true,
								columnWidth : 1
							}
							]
				},{
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								xtype:'label',
								text:'项目地点：',
								width : 97
							},{
								name:'endInnerCheck.project.proAddr',
								id:'flow_endInnerCheck.project.proAddr',
								xtype:'textfield',
//								readOnly:true,
//								style : "background:#F0F0F0;",
								allowBlank:true,
								columnWidth : 1
							}
							]
				},{
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								xtype:'label',
								text:'施工区域：',
								width : 97
							},depSelector
//							,{
//								name:'endInnerCheck.project.area',
//								id:'flow_endInnerCheck.project.area',
//								xtype:'textfield',
//								style : "background:#F0F0F0;",
//								readOnly:true,
//								allowBlank:true,
//								columnWidth : .5
//							}
							,{
								xtype:'hidden',
								name:'endInnerCheck.project.areaId',
								id:'flow_endInnerCheck.project.areaId'
							}, {
								text : '项目经理：',
								style : 'margin-left:10px;',
								width : 97
							}, {
								xtype:'textfield',
								name : 'endInnerCheck.project.proChargerUserName',
								id : 'flow_endInnerCheck.project.proChargerUserName',
								readOnly : true,
								allowBlank:false,
								columnWidth : 1,
								listeners : {
									'focus' : function() {
										UserSelector.getView(function(n,l,mobile) {
													var projectCharger = Ext.getCmp("flow_endInnerCheck.project.proChargerUserName");
													projectCharger.setValue(l);
														},true)
												.show()
									}
								}
							}
							]
				},{
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								xtype:'label',
								text:'合同造价：',
								width : 97
							},{
								name:'endInnerCheck.contract.contractAmount',
								id:'flow_endInnerCheck.contract.contractAmount',
								xtype:'textfield',
								readOnly:true,
								style : "background:#F0F0F0;",
								allowBlank:true,
								columnWidth : .5
							}, {
								text : '内检时间：',
								style : 'margin-left:10px;',
								width : 97
							}, {
								xtype : 'datefield',
								id : 'flow_endInnerCheck.checkTimer',
								name : 'endInnerCheck.checkTime',
								format:'Y-m-d',
								allowBlank:false,
								columnWidth : .5
							}
							]
				},{
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								xtype:'label',
								text:'检查人：',
								width : 97
							},{
								name:'endInnerCheck.checkUser.fullname',
								id:'flow_endInnerCheck.checkUser.fullname',
								xtype:'textfield',
								emptyText:'请选择检查人',
								readOnly:true,
								allowBlank:false,
								columnWidth : .5,
								listeners:{
									'focus' : function() {
										UserSelector.getView(function(n,l,mobile) {
															var userId = Ext.getCmp("flow_endInnerCheck.checkUser.userId");
															var fullname = Ext.getCmp("flow_endInnerCheck.checkUser.fullname");
															userId.setValue(n);
															fullname.setValue(l);
														},true)
												.show()
									}
								}
							},{
								xtype:'hidden',
								name:'endInnerCheck.checkUser.userId',
								id:'flow_endInnerCheck.checkUser.userId'
							}, {
								text : '内检评份：',
								style : 'margin-left:10px;',
								width : 97
							}, {
								xtype : 'numberfield',
								id : 'flow_endInnerCheck.score',
								name : 'endInnerCheck.score',
								allowBlank:false,
								maxLength:9,
								columnWidth : .5
							}
							]
				}, {
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								text : '客户满意度：',
								width : 97
							}, {
								xtype : 'textfield',
								name : 'endInnerCheck.customerSatisfy',
								id : 'flow_endInnerCheck.customerSatisfy',
								maxLength : 64,
								allowBlank:false,
								columnWidth:.5
							}, {
								text : '内检结论：',
								style : 'margin-left:10px;',
								width : 97
							}, {
								xtype : 'combo',
								hiddenName : 'endInnerCheck.conclusion',
								id : 'flow_endInnerCheck.conclusion',
								mode : 'local',
								valueField : "itemValue",
								displayField : "itemValue",
								triggerAction : "all",
								store : new Ext.data.JsonStore({
											baseParams : {
												"Q_itemName_S_EQ" : '内检结论'
											},
											autoLoad : true,
											root : "result",
											totalProperty : "totalCounts",
											url : __ctxPath
													+ "/system/listDictionary.do",
											fields : ["dicId", "itemName",
													"itemValue"]
										}),
								editable : false,
								allowBlank : false,
								columnWidth:.5
							}]
				}, {
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								text : '奖罚建议：',
								width : 97
							}, {
								xtype : 'combo',
								hiddenName : 'endInnerCheck.rewardOrPunish',
								id : 'flow_endInnerCheck.rewardOrPunish',
								mode : 'local',
								valueField : "itemValue",
								displayField : "itemValue",
								triggerAction : "all",
								store : new Ext.data.JsonStore({
											baseParams : {
												"Q_itemName_S_EQ" : '奖罚建议'
											},
											autoLoad : true,
											root : "result",
											totalProperty : "totalCounts",
											url : __ctxPath
													+ "/system/listDictionary.do",
											fields : ["dicId", "itemName",
													"itemValue"]
										}),
								editable : false,
								allowBlank : false,
								columnWidth:1
							}]
				}, {
					xtype : 'container',
					autoHeight : true,
					layout : 'column',
					autoWidth : true,
					defaultType : 'label',
					style : 'padding-left:0px;padding-bottom:5px;',
					items : [{
								text : '附件:',
								width : 87,
								style : "margin-top:15px;"
							}, {
								xtype : 'hidden',
								name : 'endInnerCheck.attachIds',
								id : 'flow_endInnerCheck.attachIds'
							}, {
								xtype : 'hidden',
								name : 'endInnerCheck.attachFiles',
								id : 'flow_endInnerCheck.attachFiles'
							}, {
								xtype : 'panel',
								id : 'flow_endInnerCheck.displayAttach',
								columnWidth : 1,
								height : 65,
								frame : false,
								autoScroll : true,
								style : 'padding-left:10px;padding-top:0px;',
								html : ''
							}, {
								xtype : 'button',
								iconCls : 'btn-upload',
								text : '上传',
								handler : function() {
									var dialog = App.createUploadDialog({
										file_cat : 'flow/endInnerCheck',
										callback : function(data) {
											var attachFiles = Ext.getCmp("flow_endInnerCheck.attachFiles");
											var fileIds = Ext.getCmp('flow_endInnerCheck.attachIds');
											var display = Ext.getCmp('flow_endInnerCheck.displayAttach');
											display.body.update('');
											attachFiles.setValue('');
											fileIds.setValue('');
											for (var i = 0; i < data.length; i++) {
												if (fileIds.getValue() != '') {
													fileIds.setValue(fileIds.getValue() + ',');
													attachFiles.setValue(attachFiles.getValue() + ',');
												}
												attachFiles.setValue(attachFiles.getValue() + data[i].filepath + ":" + data[i].filename.replace(/\s+/g, ""));
												fileIds.setValue(fileIds.getValue() + data[i].fileId);
												Ext.DomHelper.append(display.body, '<span><a href="#" onclick="FileAttachDetail.show(' + data[i].fileId + ')">'
												+ data[i].filename.replace(/\s+/g, "") + '</a>&nbsp;|&nbsp;</span>');
											}
										},
										permitted_max_size : 1024 * 1024 * 20,
										permitted_extensions_size : [{'type':['jpg','png','gif','bmp','jpeg'],'MaxSize':1024*800}]
									});
									dialog.show(this);
								}
							}]
				}, {
					xtype : 'container',
					layout : 'column',
					height : 25,
					defaults : {
						xtype : 'label',
						style : {
							margin : '0px 0px 3px 0px'
						}
					},
					items : [{
								text : '经办人：',
								width : 97
							}, {
								xtype : 'textfield',
								name : 'endInnerCheck.applyUser.fullname',
								id : 'flow_endInnerCheck.applyUser.fullname',
								readOnly : true,
								style : "background:#F0F0F0;",
								columnWidth:1,
								value:__currentUser
							},{
								xtype:'hidden',
								name:'endInnerCheck.applyUser.userId',
								id:'flow_endInnerCheck.applyUser.userId',
								value:__currentUserId
							}]
				}]
		Ext.MyForm.superclass.initComponent.call(this);
	}
})
