Ext.MyForm=Ext.extend(Ext.form.FormPanel ,{
xtype:"formpanel",
	title:"设计合同评审表",
	labelWidth:95,
	labelAlign:"left",
	layout:"form",
	width:600,
	height:426,
	padding:"10px",
//	listeners:{
//		'afterrender':function(){
//			if(__currentUserRoleNames.indexOf('流程-业务部')<0){
//				Ext.getCmp('startFlowBtn').disable();
//			}else{
//				Ext.getCmp('startFlowBtn').enable();
//			}
//		}
//	},
	initComponent: function(){
		this.items=[
			{
				xtype:"container",
				name:"MyContainer",
				autoEl:"div",
				layout:"column",
				width:600,
				items:[
					{
						xtype:"label",
						name:"MyLabel",
						text:"",
						html:"a.本表由业务或设计部门申请合同盖章前提请法务部评审时用，由法务部留存；</br>b.本表由法务部填写评审意见后，依据合同金额大小，逐级签字完毕后交由印章管理员盖章；</br>c.合同金额50万以内，法务专员签字；50万—200万（含）；法务经理签字；200万以上，常务副总签字；变更、解除、终止合同，视具体情况适用级别签字制。",
						width:280
					},
					{
						xtype:"label",
						name:"MyLabel1",
						text:"合同编号：",
						width:75,
						style:"margin-left:5px;margin-top:85px;"
					},
					{
						xtype:"textfield",
						name:"contractNo",
						id:'flow_contractNo',
						style:"margin-top:85px;background:#F0F0F0;",
						readOnly:true,
						emptyText:'流程审批通过后自动生成',
//						listeners:{
//							afterrender : function(){
//								Ext.Ajax.request({
//									url : __ctxPath+'/statistics/getNoDesignContract.do',
//									params:{contractType:'01'},
//									method : "POST",
//									success : function(response, f) {
//										var data = Ext.util.JSON
//												.decode(response.responseText).data;
//										var contractNo = data.contractNo;
//										Ext.getCmp("contractNo").setValue(contractNo);
//									},
//									failure : function(d, e) {
//									},
//									scope : this
//								});
//							}
//						},
						width:214
					}
				]
			},
			{
				xtype:"container",
				name:"MyContainer1",
				autoEl:"div",
				layout:"column",
				style:"margin-top:5px;",
				width:600,
				items:[
					{
						xtype:"label",
						name:"MyLabel2",
						text:"甲方单位名称：",
						width:100,
						style:"margin-top:3px;"
					},
					{
						xtype:"textfield",
						maxLength:20,
						name:"companyName",
						id:"flow_companyName",
						fieldLabel:"Label",
						width:180
					},
					{
						xtype:"label",
						name:"MyLabel3",
						text:"设计部门：",
						width:75,
						style:"margin-left:10px;margin-top:3px;"
					},
					{
						xtype:"textfield",
						maxLength:20,
						name:"designDept",
						id:"flow_designDept",
						fieldLabel:"Label",
						width:215
					}
				]
			},
			{
				xtype:"container",
				name:"MyContainer2",
				autoEl:"div",
				layout:"column",
				width:600,
				style:"",
				items:[
					{
						xtype:"label",
						name:"MyLabel4",
						text:"甲方单位性质：",
						style:"margin-top:13px;",
						width:100
					},
					{
						xtype:"textfield",
						name:"companyProperty",
						id:"flow_companyProperty",
						maxLength:20,
						fieldLabel:"Label",
						style:"margin-top:10px;",
						width:180
					},
					{
						xtype:"label",
						name:"MyLabel5",
						text:"",
						html:"有无合作</br>及合作次数：",
						style:"margin-top:5px;margin-left:10px;"
					},
					{
						xtype:"container",
						name:"MyContainer3",
						max:5,
						autoEl:"div",
						style:"",
						layout:"column",
						width:90,
						items:[
							{
								xtype:"container",
								name:"MyContainer4",
								autoEl:"div",
								items:[
									{
										xtype:"radio",
										name:"cooperation",
										id:"flow_cooperation",
										fieldLabel:"Label",
										inputValue:'有',
										checked : true,
										boxLabel:"有"
									},
									{
										xtype:"radio",
										name:"cooperation",
										id:"flow_cooperationNo",
										fieldLabel:"Label",
										inputValue:'无',
										boxLabel:"无"
									}
								]
							},
							{
								xtype:"numberfield",
								name:"cooperationNum",
								id:"flow_cooperationNum",
								regex:/^(\d{1,4}|0)?$/,
								fieldLabel:"Label",
								width:30,
								style:"margin-left:5px;margin-top:10px;"
							},
							{
								xtype:"label",
								name:"MyLabel6",
								text:"次",
								style:"margin-left:5px;margin-top:15px;"
							}
						]
					},
					{
						xtype:"label",
						name:"MyLabel7",
						text:"甲方资信评价：",
						style:"margin-top:15px;"
					},
					{
						xtype:"container",
						name:"MyContainer5",
						autoEl:"div",
						items:[
							{
								xtype:"radio",
								name:"companyCredit",
								id:"flow_companyCredit",
								fieldLabel:"Label",
								inputValue:'良好',
								checked : true,
								boxLabel:"良好"
							},
							{
								xtype:"radio",
								name:"companyCredit",
								id:"flow_companyCreditNo",
								fieldLabel:"Label",
								inputValue:'一般',
								boxLabel:"一般"
							}
						]
					}
				]
			},
			{
				xtype:"container",
				name:"MyContainer6",
				autoEl:"div",
				width:600,
				layout:"column",
				style:"margin-top:5px;",
				items:[
					{
						xtype:"label",
						name:"MyLabel8",
						text:"项目名称：",
						width:100,
						style:"margin-top:3px;"
					},
					{
						xtype:"textfield",
						maxLength:20,
						name:"projectName",
						id:"flow_projectName",
						fieldLabel:"Label",
						width:180
					},
					{
						xtype:"label",
						name:"MyLabel9",
						text:"项目地点：",
						style:"margin-top:3px;margin-left:10px;",
						width:75
					},
					{
						xtype:"textfield",
						maxLength:20,
						name:"projectAddr",
						id:"flow_projectAddr",
						fieldLabel:"Label",
						width:215
					}
				]
			},
			{
				xtype:"container",
				name:"MyContainer7",
				autoEl:"div",
				layout:"column",
				style:"margin-top:5px;",
				width:600,
				items:[
					{
						xtype:"label",
						name:"MyLabel10",
						text:"合同总价：",
						width:100,
						style:"margin-top:15px;"
					},
					{
						xtype:"numberfield",
						name:"contractAmount",
						id:"flow_contractAmount",
						regex:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/,
						fieldLabel:"Label",
						width:180,
						style:"margin-top:10px;"
					},
					{
						xtype:"container",
						name:"MyContainer8",
						autoEl:"div",
						width:310,
						layout:"column",
						items:[
							{
								xtype:"label",
								name:"MyLabel11",
								text:"取费依据：",
								style:"margin-left:10px;margin-top:15px;"
							},
							{
								xtype:"container",
								name:"MyContainer11",
								autoEl:"div",
								layout:"column",
								width:240,
								items:[
									{
										xtype:"container",
										name:"MyContainer9",
										autoEl:"div",
										width:240,
										layout:"column",
										items:[
											{
												xtype:"label",
												name:"MyLabel12",
												text:"A.设计面积",
												width:65,
												style:"margin-top:3px;"
											},
											{
												xtype:"numberfield",
												name:"designArea",
												id:"flow_designArea",
												regex:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/,
												fieldLabel:"Label",
												width:60
											},
											{
												xtype:"label",
												name:"MyLabel14",
												text:"㎡",
												width:20
											},
											{
												xtype:"numberfield",
												regex:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/,
												name:"singlePrice",
												id:"flow_singlePrice",
												fieldLabel:"Label",
												width:60
											},
											{
												xtype:"label",
												name:"MyLabel15",
												text:"元/㎡"
											}
										]
									},
									{
										xtype:"container",
										name:"MyContainer10",
										autoEl:"div",
										layout:"column",
										width:240,
										style:"margin-top:5px;",
										items:[
											{
												xtype:"label",
												name:"MyLabel13",
												text:"B.工程造价",
												width:65,
												style:"margin-top:3px;"
											},
											{
												xtype:"numberfield",
												regex:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/,
												name:"projectPrice",
												id:"flow_projectPrice",
												fieldLabel:"Label",
												width:60
											},
											{
												xtype:"label",
												name:"MyLabel16",
												text:"取费率",
												style:"margin-left:20px;"
											},
											{
												xtype:"numberfield",
												regex:/^(([1-9]\d{0,9})|0)(\.\d{1,2})?$/,
												name:"chargeRate",
												id:"flow_chargeRate",
												fieldLabel:"Label",
												width:45
											},
											{
												xtype:"label",
												text:"%"
											}
										]
									}
								]
							}
						]
					}
				]
			},
			{
				xtype:"container",
				name:"MyContainer12",
				autoEl:"div",
				width:600,
				layout:"column",
				style:"margin-top:5px;",
				items:[
					{
						xtype:"label",
						name:"MyLabel18",
						text:"",
						html:"是否承接</br>后期施工：",
						width:100
					},
					{
						xtype:"radio",
						name:"isEndWork",
						id:"flow_isEndWork",
						fieldLabel:"Label",
						boxLabel:"是",
						checked : true,
						inputValue:'是',
						style:"margin-top:5px;"
					},
					{
						xtype:"radio",
						name:"isEndWork",
						id:"flow_isEndWorkNo",
						fieldLabel:"Label",
						boxLabel:"否",
						inputValue:'否',
						style:"margin-left:10px;margin-top:5px;"
					},
					{
						xtype:"label",
						name:"MyLabel19",
						text:"施工跟进区域：",
						style:"margin-top:5px;margin-left:10px;"
					},
					{
						xtype:"textfield",
						maxLength:20,
						name:"workArea",
						id:"flow_workArea",
						fieldLabel:"Label",
						style:"margin-top:5px;",
						width:115
					},
					{
						xtype:"label",
						name:"MyLabel20",
						text:"",
						html:"有无因承接后期施工</br>而让利设计费情况：",
						width:120,
						style:"margin-left:10px;"
					},
					{
						xtype:"textfield",
						maxLength:20,
						name:"isLetDesignFee",
						id:"flow_isLetDesignFee",
						fieldLabel:"Label",
						width:75,
						style:"margin-top:5px;"
					}
				]
			}
//				{
//				xtype:"container",
//				name:"MyContainer13",
//				autoEl:"div",
//				width:600,
//				layout:"column",
//				style:"margin-top:10px;",
//				items:[
//					{
//						xtype:"label",
//						name:"MyLabel21",
//						text:"业务部："
//					},
//					{
//						xtype:"textarea",
//						name:"txtRemark",
//						fieldLabel:"Label",
//						width:520,
//						height:200
//					}
//				]
//			}
		]
		Ext.MyForm.superclass.initComponent.call(this);
	}
})