Ext.MyForm = Ext.extend(Ext.form.FormPanel, {
	xtype : "form",
	title : "请假申请表",
	labelWidth : 100,
	labelAlign : "left",
	layout : "form",
	width : 600,
	height : 300,
	padding : "3px",
	initComponent : function() {
		this.items =[{
			xtype : 'panel',
    		title:'',
    		frame:false,
    		layout:'column',
			border:false,
    		height:30,
			items:[
			{
    			xtype:'hidden',
    			name : 'applyTime',
    			id : 'applyTime',
	    		value:formatDate(new Date(),'yyyy-MM-dd')
    		},{
    			xtype:'hidden',
    			name : 'userId',
    			id : 'userId',
	    		value:__currentUserId
    		},{
    			xtype:'hidden',
    			name : 'deptId',
    			id : 'deptId',
	    		value:__currentUserDeptId
    		},{
    			xtype:'label',
    			style:'padding-left:0px;margin-left:0px;',
    			text:'申请人:',
    			width:70
    		},{
    			id:'userName',
    			xtype:'textfield',
    			name:'userName',
    			editable:false,
    			style:'margin-left:-10px;',
    			readOnly:true,
    			style:"background:#F0F0F0;",
    			allowBlank:false,
    			width:130,
    			value:__currentUser
    		},{
    			xtype:'label',
    			style:'padding-left:0px;margin-left:10px;',
    			text:'部门:',
    			width:70
    		},{
    			id:'deptName',
    			xtype:'textfield',
    			name:'deptName',
    			editable:false,
    			style:'margin-left:-30px;',
    			readOnly:true,
    			style:"background:#F0F0F0;",
    			allowBlank:false,
    			width:130,
    			value:__currentUserDept
    		}]
		},{
			xtype : 'panel',
    		title:'',
    		frame:false,
    		layout:'column',
			border:false,
    		height:30,
			items:[{
    			xtype:'label',
    			style:'padding-left:0px;',
    			text:'起始日期:',
    			width:70
    		},{
    			id:'flow_startTime',
    			xtype:'datefield',
    			name:'startTime', 
    			allowBlank:false,
    			width:130,
				emptyText : '---请选择日期---',
				format : 'Y-m-d',				
				editable : false,
				showToday: true,
				value:new Date(),
				maxValue:formatDate(new Date(new Date().valueOf()+60* 24*60*60*1000),'yyyy-MM-dd'),//允许选择的最大日期
				listeners : {
					select : function(combo, record, index) {
						var flow_startTimeValue = Ext.getCmp('flow_startTime').getValue();
						var flow_startTimeAmOrPmValue = Ext.getCmp('flow_startAmOrPm').getValue();
						var flow_endTimeValue = Ext.getCmp('flow_endTime').getValue();
						var flow_endTimeAmOrPmValue = Ext.getCmp('flow_endAmOrPm').getValue();
						if(flow_startTimeAmOrPmValue == '' || flow_endTimeAmOrPmValue == '' ){
							return;
						} else {
							var time=(flow_endTimeValue.getTime()-flow_startTimeValue.getTime())/3600/1000/24+1
						    if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-1);
						    } else if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '下午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else if(flow_startTimeAmOrPmValue == '上午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else{
						    	Ext.getCmp('flow_totalDays').setValue(time);
						    }
					    }
//					    var comboTypeValue = Ext.getCmp('type').getValue();
//					    if(comboTypeValue == '年休假'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainDays').setValue(result.totalHolidays);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									if(applyDays!=''&&applyDays>result.totalHolidays){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的年休假超过了可用年休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else if(comboTypeValue == '调休'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainHours').setValue(result.remainHours);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									var applyHours=applyDays*8;
//									if(applyHours>result.remainHours){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的调休时间超过了可用调休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else{
//							Ext.getCmp('startFlowBtn').setDisabled(false);
//					    }
					}
				}
    		},{
				xtype : 'combo',
				width : 130,
				id : 'flow_startAmOrPm',
				name : 'startAmOrPm',
				emptyText : '---请选择---',
				selectOnFocus : true,
				forceSelection : true,
				triggerAction : 'all',
				editable : false,
				store:[['上午', '上午'], ['下午', '下午']],
				allowBlank:false,
				listeners : {
					select : function(combo, record, index) {
						var flow_startTimeValue = Ext.getCmp('flow_startTime').getValue();
						var flow_startTimeAmOrPmValue = Ext.getCmp('flow_startAmOrPm').getValue();
						var flow_endTimeValue = Ext.getCmp('flow_endTime').getValue();
						var flow_endTimeAmOrPmValue = Ext.getCmp('flow_endAmOrPm').getValue();
						if(flow_startTimeAmOrPmValue == '' || flow_endTimeAmOrPmValue == '' ){
							return;
						} else {
							var time=(flow_endTimeValue.getTime()-flow_startTimeValue.getTime())/3600/1000/24+1
						    if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-1);
						    } else if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '下午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else if(flow_startTimeAmOrPmValue == '上午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else{
						    	Ext.getCmp('flow_totalDays').setValue(time);
						    }
					    }
//					    var comboTypeValue = Ext.getCmp('type').getValue();
//					    if(comboTypeValue == '年休假'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainDays').setValue(result.totalHolidays);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									if(applyDays!=''&&applyDays>result.totalHolidays){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的年休假超过了可用年休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else if(comboTypeValue == '调休'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainHours').setValue(result.remainHours);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									var applyHours=applyDays*8;
//									if(applyHours>result.remainHours){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的调休时间超过了可用调休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else{
//							Ext.getCmp('startFlowBtn').setDisabled(false);
//					    }
					}
				}
			}]
		},{
			xtype : 'panel',
    		title:'',
    		frame:false,
    		layout:'column',
			border:false,
    		height:30,
			items:[{
    			xtype:'label',
    			style:'padding-left:0px;',
    			text:'结束日期:',
    			width:70
    		},{
    			id:'flow_endTime',
    			xtype:'datefield',
    			name:'endTime', 
    			allowBlank:false,
    			width:130,
				emptyText : '---请选择日期---',
				format : 'Y-m-d',				
				editable : false,
				showToday: true,
				value:new Date(),
				maxValue:formatDate(new Date(new Date().valueOf()+150* 24*60*60*1000),'yyyy-MM-dd'),//允许选择的最大日期
				listeners : {
					select : function(combo, record, index) {
						var flow_startTimeValue = Ext.getCmp('flow_startTime').getValue();
						var flow_startTimeAmOrPmValue = Ext.getCmp('flow_startAmOrPm').getValue();
						var flow_endTimeValue = Ext.getCmp('flow_endTime').getValue();
						var flow_endTimeAmOrPmValue = Ext.getCmp('flow_endAmOrPm').getValue();
						if(flow_startTimeAmOrPmValue == '' || flow_endTimeAmOrPmValue == '' ){
							return;
						} else {
							var time=(flow_endTimeValue.getTime()-flow_startTimeValue.getTime())/3600/1000/24+1
						    if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-1);
						    } else if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '下午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else if(flow_startTimeAmOrPmValue == '上午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else{
						    	Ext.getCmp('flow_totalDays').setValue(time);
						    }
					    }
//					    var comboTypeValue = Ext.getCmp('type').getValue();
//					    if(comboTypeValue == '年休假'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainDays').setValue(result.totalHolidays);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									if(applyDays!=''&&applyDays>result.totalHolidays){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的年休假超过了可用年休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else if(comboTypeValue == '调休'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainHours').setValue(result.remainHours);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									var applyHours=applyDays*8;
//									if(applyHours>result.remainHours){
//										Ext.getCmp('startFlowBtn').setDisabled(true)
//										Ext.ux.Toast.msg('操作信息','您申请的调休时间超过了可用调休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else{
//							Ext.getCmp('startFlowBtn').setDisabled(false);
//					    }
					}
				}
    		},{
				xtype : 'combo',
				width : 130,
				id : 'flow_endAmOrPm',
				name : 'endAmOrPm',
				emptyText : '---请选择---',
				selectOnFocus : true,
				forceSelection : true,
				triggerAction : 'all',
				editable : false,
				style:'margin-left:0px;',
				store:[['上午', '上午'], ['下午', '下午']],
				allowBlank:false,
				listeners : {
					select : function(combo, record, index) {
						var flow_startTimeValue = Ext.getCmp('flow_startTime').getValue();
						var flow_startTimeAmOrPmValue = Ext.getCmp('flow_startAmOrPm').getValue();
						var flow_endTimeValue = Ext.getCmp('flow_endTime').getValue();
						var flow_endTimeAmOrPmValue = Ext.getCmp('flow_endAmOrPm').getValue();
						if(flow_startTimeAmOrPmValue == '' || flow_endTimeAmOrPmValue == '' ){
							return;
						} else {
							var time=(flow_endTimeValue.getTime()-flow_startTimeValue.getTime())/3600/1000/24+1
						    if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-1);
						    } else if(flow_startTimeAmOrPmValue == '下午' && flow_endTimeAmOrPmValue == '下午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else if(flow_startTimeAmOrPmValue == '上午' && flow_endTimeAmOrPmValue == '上午'){
						    	Ext.getCmp('flow_totalDays').setValue(time-0.5);
						    } else{
						    	Ext.getCmp('flow_totalDays').setValue(time);
						    }
					    }
//					    var comboTypeValue = Ext.getCmp('type').getValue();
//					    if(comboTypeValue == '年休假'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainDays').setValue(result.totalHolidays);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									if(applyDays!=''&&applyDays>result.totalHolidays){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的年休假超过了可用年休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else if(comboTypeValue == '调休'){
//					    	Ext.getCmp('startFlowBtn').setDisabled(false);
//					    	Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainHours').setValue(result.remainHours);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									var applyHours=applyDays*8;
//									if(applyHours>result.remainHours){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的调休时间超过了可用调休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//					    }else{
//							Ext.getCmp('startFlowBtn').setDisabled(false);
//					    }
					}
				}
			},{
	    			xtype:'label',
	    			style:'padding-left:0px;',
	    			text:'共计:',
	    			width:40
	    		},{
					xtype : 'textfield',
					width : 30,
					id : 'flow_totalDays',
					name : 'totalDays',
					style:'margin-left:0px;',
					//value: this.totalDays == null ? '' : '${totalDays}',
					readOnly : true,
					allowBlank:false
				},{
	    			xtype:'label',
	    			style:'padding-left:5px;',
	    			text:'天',
	    			width:20
	    	}]
		},{
			xtype : 'panel',
			border:false,
    		layout:'column',
			items:[{
    			xtype:'label',
    			style:'padding-left:0px;',
    			text:'假期类别:',
    			width:70
    		},{
				xtype : 'combo',
				width : 130,
				id : 'flow_type',
				editable:false,
				name : 'type',
				emptyText : '---请选择---',
				selectOnFocus : true,
				forceSelection : true,
				triggerAction : 'all',
				style:'margin-left:0px;',
				store:[['年休假', '年休假'], ['事假', '事假'], ['调休', '调休'], ['病假', '病假'], ['婚假', '婚假'], ['产假', '产假'],['陪产假', '陪产假'], ['丧假', '丧假'], ['产检假', '产检假'], ['哺乳假', '哺乳假']],
				allowBlank:false
//				listeners : {
//					select : function(combo, record, index) {
//						var typeValue = Ext.getCmp('type').getValue();
//						//if(typeValue == '其他'){
//							//Ext.getCmp('other').setDisabled(false);
//						//} else {
//							//Ext.getCmp('other').setValue('');
//							//Ext.getCmp('other').setDisabled(true);
//						//}
//						if(combo.value=='年休假'){
//							Ext.getCmp('startFlowBtn').setDisabled(false);
//							Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainDays').setValue(result.totalHolidays);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									if(applyDays!=''&&applyDays>result.totalHolidays){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的年休假超过了可用年休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//						}else if (combo.value=='调休'){
//							Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainHours').setValue(result.remainHours);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									var applyHours=applyDays*8;
//									if(applyHours>result.remainHours){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.ux.Toast.msg('操作信息','您申请的调休时间超过了可用调休假！');
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//						}else if(combo.value=='事假'){
//							Ext.getCmp('startFlowBtn').setDisabled(true);
//							Ext.Ajax.request({
//								url:__ctxPath+'/personal/checkHolidayAnnualleave.do',								
//								method:'POST',
//								success:function(response,options){
//									var result = Ext.util.JSON.decode(response.responseText);
//									Ext.getCmp('remainDays').setValue(result.totalHolidays);
//									var applyDays=Ext.getCmp('totalDays').getValue();
//									if(result.totalHolidays > 0 || result.remainHours > 0){
//										Ext.getCmp('startFlowBtn').setDisabled(true);
//										Ext.MessageBox.confirm('请确认', '<span style="color:red;font-size:14px">您还有年假'+result.totalHolidays+'天，调休假'+result.remainHours+'小时，确定要使用事假?<span>', function(btn, text) {
//											if (btn == 'yes') {
//												Ext.getCmp('startFlowBtn').setDisabled(false);
//											}else{
//												Ext.getCmp('startFlowBtn').setDisabled(true);
//											}
//										})
//									}else{
//										Ext.getCmp('startFlowBtn').setDisabled(false);
//									}
//								},
//								failure:function(response,options){
//									Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
//								}
//							});
//						}else{
//							Ext.getCmp('startFlowBtn').setDisabled(false);
//						}
//					}
//				}
			}]
		},{
			xtype : 'container',
			layout : 'column',
			style : 'padding-left:0px;padding-top:5px;',
			items : [
					{
						xtype:'label',
		    			style:'padding-left:0px;',
		    			text:'请假原因:',
		    			width:55
					},{
						xtype : 'textarea',
						width : 540,
						height:100,
						id : 'flow_other',
						name : 'other',
						maxLength:300,
						style:'margin-left:2px;'
					}]
		}
//		,{
//			xtype : 'container',
//			layout : 'column',
//			id : 'infoContainer',
//			style : 'padding-left:0px;padding-top:5px;',
//			items : [{
//	    			xtype:'label',
//	    			style:'padding-left:0px;margin-top:5px;',
//	    			text:'可用年休假:',
//	    			width:70
//	    	},{
//					xtype : 'textfield',
//					width : 50,
//					id : 'remainDays',
//					name : 'remainDays',
//					style:'margin-left:0px;',
//					value: this.remainDays == null ? '' : '${remainDays}',
//					readOnly : true
//			},{
//	    			xtype:'label',
//	    			style:'padding-left:5px;margin-top:5px;',
//	    			text:'天',
//	    			width:20
//	    	},{
//	    			xtype:'label',
//	    			style:'padding-left:0px;margin-left:20px;margin-top:5px;',
//	    			text:'可用调休假:',
//	    			width:70
//	    	},{
//					xtype : 'textfield',
//					width : 50,
//					id : 'remainHours',
//					name : 'remainHours',
//					style:'margin-left:0px;',
//					value: this.totalHolidays == null ? '' : '${totalHolidays}',
//					readOnly : true
//			},{
//	    			xtype:'label',
//	    			style:'padding-left:5px;margin-top:5px;',
//	    			text:'小时',
//	    			width:40
//	    	}]
//		}
		]
		Ext.MyForm.superclass.initComponent.call(this);
	}
})