[
	{
		fieldLabel:'快速回复',
		xtype:'combo',
		mode : 'local',
		editable : false,
		anchor:'90%,90%',
		triggerAction : 'all',
		store :['同意','不同意'],
		listeners:
			{
				select:{
					fn:function(field,record,index){//select : ( Ext.form.ComboBox combo, Ext.data.Record record, Number index ) 
						var options=Ext.getCmp('superOption');
						if(options!=null){
							options.setValue(field.getValue());
							if(field.getValue()=='不同意'){
								Ext.getCmp('pass').setDisabled(true);
								Ext.getCmp('unPass').setDisabled(false);
								Ext.getCmp('backReturnBtn').setDisabled(false);
								Ext.getCmp('freeTransCombo').setDisabled(false);
							}else{
								Ext.getCmp('pass').setDisabled(false);
								Ext.getCmp('unPass').setDisabled(true);
								Ext.getCmp('backReturnBtn').setDisabled(true);
								Ext.getCmp('freeTransCombo').setDisabled(true);
							}
						}
					}
				}
			}
//	},{
//		fieldLabel:'员工层级',
//		xtype:'combo',
//		hiddenName:'staffType',
//		mode : 'local',
//		editable : false,
//		allowBlank:false,
//		anchor:'90%,90%',
//		triggerAction : 'all',
//		store :['普通员工','非普通员工']
	},
	{
		fieldLabel:'审批意见',
		xtype:'textarea',
		id:'superOption',
		name:'superOption',
		allowBlank:false,
		anchor:'90%'
	}
]