[
	{
		fieldLabel:'快速回复',
		xtype:'combo',
		mode : 'local',
		editable : false,
		anchor:'90%,90%',
		triggerAction : 'all',
		store :['同意','不同意'],
		listeners:
			{
				select:{
					fn:function(field,record,index){//select : ( Ext.form.ComboBox combo, Ext.data.Record record, Number index ) 
						var options=Ext.getCmp('superOption');
						if(options!=null){
							options.setValue(field.getValue());
							if(field.getValue()=='不同意'){
								Ext.getCmp('pass').setDisabled(true);
								Ext.getCmp('unPass').setDisabled(false);
								Ext.getCmp('backReturnBtn').setDisabled(false);
								Ext.getCmp('freeTransCombo').setDisabled(false);
							}else{
								Ext.getCmp('pass').setDisabled(false);
								Ext.getCmp('unPass').setDisabled(true);
								Ext.getCmp('backReturnBtn').setDisabled(true);
								Ext.getCmp('freeTransCombo').setDisabled(true);
							}
						}
					}
				}
			}
	},{
		fieldLabel:'推荐理由',
		xtype:'textarea',
		name:'staffEmployapply@inviteReason',
		id:'flow_staffEmployapply@inviteReason',
		allowBlank:false,
		anchor:'90%'
	},{
		xtype : 'panel',
		layout : 'column',
		defaultType : 'label',
		style:'padding-top:3px;margin-buttom:5px',
		height: 70,
		border:false,
		items : [{
					text : '推荐表:',
					width : 105
				},{
					xtype : 'hidden',
					name : 'staffEmployapply@attachIDs',
					id : 'flow_staffEmployapply@attachIDs'
				},{
					xtype : 'hidden',
					name : 'staffEmployapply@attachFile',
					id : 'flow_staffEmployapply@attachFile'
				},{
					xtype : 'panel',
					id:'flow_staffEmployapply@displayAttach',
					width : 500,
					height: 60,
					frame:true,
					autoScroll:true,
					html : ''
				},{
					xtype : 'button',
					iconCls : 'btn-upload',
					text : '上传',
					handler : function() {
						var dialog = App.createUploadDialog({
												file_cat : 'flow/staffEmployapply',
												callback : function(data) {
													Ext.getCmp('flow_staffEmployapply@displayAttach').body.update('');
													Ext.getCmp("flow_staffEmployapply@attachFile").setValue('');
													Ext.getCmp('flow_staffEmployapply@attachIDs').setValue('');
													var entrantFile = Ext.getCmp("flow_staffEmployapply@attachFile");
													var fileIds = Ext.getCmp('flow_staffEmployapply@attachIDs');
													var display = Ext.getCmp('flow_staffEmployapply@displayAttach');
													for (var i = 0; i < data.length; i++) {
														if (fileIds.getValue() != '') {
															fileIds.setValue(fileIds.getValue()+ ',');
															entrantFile.setValue(entrantFile.getValue()+ ',');
														}
														entrantFile.setValue(entrantFile.getValue()+data[i].filepath+":"+data[i].filename.replace(/\s+/g,""));
//														entrantFile.setValue(entrantFile.getValue()+"<a href=javascript:window.location.href=\""+__ctxPath+"/file-Download?filePath=attachFiles/"+data[i].filepath+"&fileName="+data[i].filename.replace(/\s+/g,"")+"\">"+data[i].filename.replace(/\s+/g,"")+"</a>");
														fileIds.setValue(fileIds.getValue()+data[i].fileId);
														Ext.DomHelper.append(display.body,'<span><a href="#" onclick="FileAttachDetail.show('+data[i].fileId+')">'+data[i].filename.replace(/\s+/g,"")+'</a>&nbsp;|&nbsp;</span>');
														
													}
												},
												permitted_max_size :1024*1024*20
											});
							dialog.show(this);
					}
				}
				]
		},
	{
		fieldLabel:'审批意见',
		xtype:'textarea',
		id:'superOption',
		name:'superOption',
		allowBlank:false,
		anchor:'90%'
	}
]